@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;900&family=Roboto:wght@500&display=swap");

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 178, 178);
}

.navbar,
.leftnav,
.rightnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  padding: 0 2%;
  box-sizing: border-box;
  font-family: Poppins;
  border-bottom: 1px solid rgb(236, 233, 233);
}
.leftnav {
  width: 25%;
  box-sizing: border-box;
  padding: 0 1%;
}
.rightnav {
  width: 20%;
  padding: 0 1%;
}
.logo {
  height: 60px;
  width: 100px;
}
.login,
.cart {
  display: flex;
  align-items: center;
}
.login > span {
  font-size: 13px;
  margin-left: 5px;
}
.login {
  background-color: #2b6cb0;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* ================================== */
.banner {
  position: relative;
}
.banner>img{
  filter: brightness(0.6);
}
.saleDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Poppins;
  text-align: center;
  height: 100%;
}
.headline {
  font-weight: 600;
  font-size: 60px;
  color: #b83280;
}
hr {
  border: 1px solid #c2ecd7;
}
.anyone {
  font-weight: bolder;
  font-size: 40px;
}
.off {
  font-weight: bolder;
  font-size: 60px;
  color: yellow;
  margin: 20px 0;
}
.free {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0;
}
.sale {
  font-weight: bolder;
  font-size: 40px;
}
.flash {
  color: rgb(255, 72, 0);
  text-decoration: underline;
}
.save {
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgb(0, 60, 255);
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  transform: scale(1);
  transition: 500ms ease-in-out;
}
.save:hover {
  transform: scale(1.03);
}
/* ============================================= */
.Description {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.Description > h1 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  max-width: max-content;
}
.Description > h1::after {
  content: "";
  border: 1px solid blue;
  opacity: 0;
  transform-origin: 0;
  transform-origin: left;
  transform: scale(0);
  transition: 1000ms ease;
}
.Description > h1:hover::after {
  opacity: 1;
  transform: scale(1);
}
/* ========================================= */
.categories {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.mens,
.womens {
  overflow: hidden;
  width: 48%;
  position: relative;
  height: 450px;
  text-align: center;
}
.mens > img,
.womens > img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: 1500ms ease;
}
.mens > img:hover,
.womens > img:hover {
  transform: scale(1.05);
}

.viewAll {
  position: absolute;
  top: 88%;
  left: 25%;
  background-color: black;
  color: white;
  width: 50%;
  padding: 10px 0;
  border: none;
  font-weight: 500;
  transform: scale(0.8);
  transition: 500ms ease;
}
.viewAll:hover {
  transform: scale(1);
}
.viewAll:focus {
  outline: none;
}
/* ================================= */
/* faq */
.faq {
  font-family: Poppins;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1%;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding-bottom: 40px;
}
.faq > h1 {
  font-size: 30px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  max-width: max-content;
}
.faq > h1::after {
  content: "";
  border: 1px solid blue;
  opacity: 0;
  transform-origin: 0;
  transform-origin: left;
  transform: scale(0);
  transition: 800ms ease;
}
.faq > h1:hover::after {
  opacity: 1;
  transform: scale(1);
}
.accorbody {
  font-size: 15px;
  font-weight: normal;
  font-family: Inter;
}
/* ============================ */
/* footer  */
.footer {
  background-color: #4a5568;
  color: rgba(255, 255, 255, 0.767);
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  color: black;
}
.insidefooter {
  width: 25%;
}
.insidefooter > h2 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.548);
}
.insidefooter > p {
  text-align: justify;
}
.insidefooter > input {
  padding: 1%;
  box-sizing: border-box;
  margin-top: 10px;
  color: black;
}
.insidefooter > input:focus {
  outline: none;
}
.insidefooter > button {
  background-color: #f56565;
  padding: 1% 15px;
  cursor: pointer;
  color: white;
}
/* =========================== */
.bottom {
  display: flex;
  justify-content: space-around;
  background-color: #4a5568;
  padding: 3% 15%;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
}
.bottom > p {
  cursor: pointer;
}
.bottom > p:hover {
  text-decoration: underline;
}
/* ==================================== */
.category_banner {
  display: flex;
  justify-content: center;
  padding: 1%;
  box-sizing: border-box;
}
.cardImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 10px;
}
.totalCount {
  width: 90%;
  margin: 10px auto;
  border: 1px solid rgb(233, 231, 231);
  padding: 1%;
  box-sizing: border-box;
  border-radius: 20px;
}
.totalCount > p > span {
  color: rgb(175, 17, 17);
  font-weight: bold;
}
.allproducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 2% 5% 2% 5%;
  margin: auto;
  padding-top: 10px;
  font-family: Inter;
  background-color: #dbdddf;
}
.product {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 0 0 2% 0;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.product > img {
  height: 300px;
  width: 100%;
  margin: auto;
  transition: 3000ms ease;
}
.bestSeller {
  top: 0;
  position: absolute;
  padding: 5px 8px;
  background-color: #ee7740e7;
  color: white;
  font-size: 12px;
}
.product > img:hover {
  transform: scale(1.1);
}
.heading {
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand {
  margin: 0 12px;
  padding: 0 5px;
  background-color: #2b6cb0;
  width: 33%;
  color: #edf2f7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}
.brand > span {
  font-weight: bold;
  color: white;
}
.mensSeller {
  width: 50%;
}
.priceDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
.price > span {
  font-size: 20px;
  font-weight: 500;
}
.cartButton {
  background-color: #f6e05e;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cartButton:hover {
  background-color: #ecc94b;
}
.page {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  margin: 2% 0;
  box-sizing: border-box;
}
.page > button {
  background-color: rgba(0, 0, 0, 0.06);
  padding: 15px 20px;
  border-radius: 50%;
  transition: 0.4s;
}
.page > button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.disable {
  color: rgb(173, 172, 172);
}
/* ================================ */
/* about us  */
.stories {
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  box-sizing: border-box;
  font-family: Roboto;
  background-color: #f0fff4;
}
.stories > img {
  height: 450px;
}
.storiesdesc {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #d5f8dfd2;
  box-shadow: rgba(205, 243, 216, 0.781) 1.95px 1.95px 2.6px;
}
.storiesdesc > h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}
.laststory {
  margin-right: 20px;
}
.aboutmission {
  text-align: center;
  padding: 3% 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.aboutmission > p {
  width: 50%;
  margin: auto;
  font-size: 18px;
}
.aboutmission > h1 {
  font-size: 30px;
  margin: 10px 0;
}
.aboutmission > h3 {
  border-bottom: 2px solid #2b6cb0;
}
.explore {
  text-align: center;
  padding: 5% 0;
  box-sizing: border-box;
}
.explore > a {
  padding: 20px 20px;
  font-size: 18px;
  color: white;
  font-family: Poppins;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.explore > a:hover {
  background-color: #10a5fc;
  background-image: linear-gradient(180deg, #12a7fd 16%, #74f8e9 100%);
}

.scrollbtn {
  position: fixed;
  width: 100%;
  left: 95%;
  bottom: 60px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(155, 156, 155);
}
.scrollbtn:hover{
  color: rgb(121, 122, 121);
}
